body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f7f7; /* Light background color */
}

header {
    background-color: #f2dede; /* Header background color */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ddcfcf; /* Header border color */
}



nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff; /* Navigation link color */
    font-size: 1.2em;
}


.hero {
    text-align: center;
    padding: 100px 0; /* Adjust as needed */
}

.card {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 300px; /* Adjust card width */
    margin: 0 auto; /* Center align the card */
    animation-duration: 0.5s;
}

.card h2 {
    font-size: 36px;
    color: #740874; /* Question color */
    margin: 20px 0;
}

.card input[type="number"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.card button {
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #740874; /* Button background color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.card button:hover {
    background-color: #0e7a08; /* Darker button color on hover */
    transform: scale(1.05); /* Scale button on hover */
}

/* Animation using animate.css library */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate__fadeInUp {
    animation-name: fadeInUp;
    animation-duration: 0.5s;
}
